/* ##### Info 3 ##### */
	
	.texto-style-1{
		-webkit-transform: rotate(270deg);   
		-moz-transform: rotate(270deg);
		-ms-transform: rotate(270deg);
		-o-transform: rotate(270deg);
		transform: rotate(303deg);
		text-align: left;
		color: #FFF;
		font-size: 20px;
		background-color: #616265;
	
		margin-top: 32%;
}	
	
	.container{
		background-image: url("../../../images/comun/fondo-infografia.png");
		background-repeat: no-repeat;
		background-position: right top;
		background-size: 100% 100%;	
	}

	.container .main{
		position: relative;
	}
		
		.container .main .titulo{
			position: absolute;
			margin-left: 75%; 
			margin-top: 34%; 
			width:20%;
		}
			
			.container .main .titulo .img-titulo{
				width: 100%;
			}
			
		.container .main .galeria{
			position: absolute;
			margin-left: 7%;
			margin-top: 5%;
			width: 90%;
		}
		
		.container .main .galeria .img-galeria{
			width: 100%;
		}
			
			.container .main .galeria .img-galeria-1{
				width: 15%;
			}
			.container .main .galeria .img-galeria-2{
				width: 15%;
			}
			.container .main .galeria .img-galeria-3{
				width: 15%;
			}
			.container .main .galeria .img-galeria-4{
				width: 15%;
			}
			.container .main .galeria .img-galeria-5{
				width: 15%;
			}
			.container .main .galeria .img-galeria-6{
				width: 15%;
			}
			.container .main .galeria .img-galeria-7{
				width: 15%;
			}
			.container .main .galeria .img-galeria-8{
				width: 15%;
			}
			.container .main .galeria .img-galeria-9{
				width: 15%;
			}
			.container .main .galeria .img-galeria-10{
				width: 15%;
			}
			.container .main .galeria .img-galeria-11{
				width: 15%;
			}
			.container .main .galeria .img-galeria-12{
				width: 15%;
			}
.container .main .back{
	position: absolute;
	margin-left: 0%;
	margin-top: 1%; 
}
	.container .main .back .img-back{
		width: 75%;
	}
	
	.container .main .back:hover{
		-webkit-transform: translateY(-5px);
		transform: translateY(-5px);
		opacity: 0.7;
	}
	
@media (max-height: 442px) {
	.texto-style-1{
			-webkit-transform: rotate(270deg);   
			-moz-transform: rotate(270deg);
			-ms-transform: rotate(270deg);
			-o-transform: rotate(270deg);
			transform: rotate(303deg);
			text-align: left;
			color: #FFF;
			font-size: 20px;
			background-color: #616265;
		
			margin-top: 32%;
	}	
		
		.container{
			background-image: url("../../../images/comun/fondo-infografia.png");
			background-repeat: no-repeat;
			background-position: right top;
			background-size: 100% 100%;	
		}

		.container .main{
			position: relative;
		}
			
		.container .main .titulo{
			position: absolute;
			margin-left: 79%; 
			margin-top: 33%; 
			width: 17%;
		}
			
			.container .main .titulo .img-titulo{
				width: 100%;
			}
				
		.container .main .galeria{
			position: absolute;
			margin-left: 5%; 
			margin-top: 5%; 
			width: 90%;
		}
			
			.container .main .galeria .img-galeria-1{
				width: 16%;
			}
			.container .main .galeria .img-galeria-2{
				width: 16%;
			}
			.container .main .galeria .img-galeria-3{
				width: 16%;
			}
			.container .main .galeria .img-galeria-4{
				width: 16%;
			}
			.container .main .galeria .img-galeria-5{
				width: 16%;
			}
			.container .main .galeria .img-galeria-6{
				width: 16%;
			}
			.container .main .galeria .img-galeria-7{
				width: 16%;
			}
			.container .main .galeria .img-galeria-8{
				width: 16%;
			}
			.container .main .galeria .img-galeria-9{
				width: 16%;
			}
			.container .main .galeria .img-galeria-10{
				width: 16%;
			}
			.container .main .galeria .img-galeria-11{
				width: 16%;
			}
			.container .main .galeria .img-galeria-12{
				width: 16%;
			}
	.container .main .back{
		position: absolute;
		margin-left: 0%;
		margin-top: 1%; 
	}
		.container .main .back .img-back{
			width: 75%;
		}
		
		.container .main .back:hover{
			-webkit-transform: translateY(-5px);
			transform: translateY(-5px);
			opacity: 0.7;
		}

}
