/* ##### Info 2 ##### */

.img-bandita-1930{
    width: 3.5%;  opacity: 0;  margin-left: 13.7%;  margin-top: -14%;
  
}

.img-bandita2-1930{
    margin-left: -3%;  margin-top: -11%;  width: 2%;  opacity: 0;
  
}

.img-bandita-1931{
    width: 3.5%;  opacity: 0;  
    margin-left: 11%;  margin-top: -14%;
  
}

.img-bandita2-1931{
    margin-left: -3%;  margin-top: -11%;  width: 2%;  opacity: 0;
  
}

.img-bandita-1933{
    width: 3.5%;  opacity: 0;  
    margin-left: 14%;  margin-top: -14%;
  
}

.img-bandita2-1933{
    margin-left: -3%;  margin-top: -11%;  width: 2%;  opacity: 0;
  
}

.img-bandita-1935{
    width: 3.5%;  opacity: 0;  
    margin-left: 13%;  
    margin-top: -13%;
  
}

.img-bandita2-1935{
    margin-left: -3.2%;  
    margin-top: -10.5%;  width: 2%;  opacity: 0;
  
}

.img-bandita-1935-2{
    width: 3.5%;  opacity: 0;  
    margin-left: 47.0%;  
    margin-top: -14%;
  
}

.img-bandita2-1935-2{
    margin-left: -3%;  
    margin-top: -11.5%;  
    width: 2%;  opacity: 0;
  
}
/*Slide 2*/
.img-bandita-1956{  
	width: 3.5%;
	opacity: 0;
	margin-left: 13.7%;
	margin-top: -15%;
}

.img-bandita2-1956{
	margin-left: -3%; 
	margin-top: -12%; 
	width: 2%;
	opacity: 0;
}




.img-bandita-1956-2{
    width: 3.5%;  opacity: 0;  
    margin-left: 10.9%;  
    margin-top: -14.5%;
  
}



.img-bandita2-1956-2{
    margin-left: -3%;  
    margin-top: -12%;  width: 2%;  opacity: 0;
  
}




.img-bandita-1962{
    width: 3.5%;  opacity: 0;  
    margin-left: 12.7%;  
    margin-top: -13.5%;
  
}



.img-bandita2-1962{
    margin-left: -3%;  margin-top: -11%;  width: 2%;  opacity: 0;
  
}

.img-bandita-1957{
    width: 3.5%;  opacity: 0;  
    margin-left: 14.3%;  
    margin-top: -13.5%;
  
}

.img-bandita2-1957{
    margin-left: -3%;  
    margin-top: -11%;  width: 2%;  opacity: 0;
  
}


.img-bandita-1966-2{
    width: 3.5%;  opacity: 0;  
    margin-left: 13.3%;  
    margin-top: -15.5%;
  
}

.img-bandita2-1966-2{
    margin-left: -3%;  
    margin-top: -13%;  width: 2%;  opacity: 0;
  
}

/*Slide 2*/
/*Slide 3*/
.img-bandita-1966{
    width: 3.5%;  opacity: 0;  
    margin-left: 13.7%;  margin-top: -14%;
  
}

.img-bandita2-1966{
    margin-left: -3%;  margin-top: -11%;  width: 2%;  opacity: 0;
  
}

.img-bandita-1969{
    width: 3.5%;  opacity: 0;  
    margin-left: 11%;  margin-top: -14%;
  
}

.img-bandita2-1969{
    margin-left: -3%;  margin-top: -11%;  width: 2%;  opacity: 0;
  
}
.img-bandita-1972{
    width: 3.5%;  opacity: 0;  
    margin-left: 14%;  margin-top: -14%;
  
}

.img-bandita2-1972{
    margin-left: -3%;  margin-top: -11%;  width: 2%;  opacity: 0;
  
}

.img-bandita-1976{
    width: 3.5%;  opacity: 0;  
    margin-left: 13%;  
    margin-top: -13%;
  
}

.img-bandita2-1976{
    margin-left: -3%;  
    margin-top: -10.5%;  width: 2%;  opacity: 0;
  
}

.img-bandita-1976-2{
    width: 3.5%;  opacity: 0;  
    margin-left: 13.5%;  
    margin-top: -14%;
  
}

.img-bandita2-1976-2{
	margin-left: -36px; 
	margin-top: -126px; 
	width: 23px;
	opacity: 0;
}
/*Slide 3*/
/*Slide 4*/
.img-bandita-1976-3{
    width: 3.5%;  opacity: 0;  margin-left: 13.7%;  margin-top: -14%;
  
}

.img-bandita2-1976-3{
    margin-left: -3%;  margin-top: -11%;  width: 2%;  opacity: 0;
  
}

.img-bandita-1977{
    width: 3.5%;  opacity: 0;  
    margin-left: 11%;  margin-top: -14%;
  
}

.img-bandita2-1977{
    margin-left: -3%;  margin-top: -11%;  width: 2%;  opacity: 0;
  
}
.img-bandita-1979{
    width: 3.5%;  opacity: 0;  
    margin-left: 14%;  margin-top: -14%;
  
}

.img-bandita2-1979{
    margin-left: -3%;  margin-top: -11%;  width: 2%;  opacity: 0;
  
}

.img-bandita-1982{
    width: 3.5%;  opacity: 0;  
    margin-left: 13%;  
    margin-top: -12.5%;
  
}

.img-bandita2-1982{
    margin-left: -3%;  
    margin-top: -10%;  width: 2%;  opacity: 0;
  
}

.img-bandita-1982-2{
    width: 3.5%;  opacity: 0;  
    margin-left: 13.5%;  
    margin-top: -14%;
  
}

.img-bandita2-1982-2{
    margin-left: -3.5%;  
    margin-top: -11%;  width: 2%;  opacity: 0;
  
}
/*Slide 4*/

.text-content{
	color: #7E7E7E;
	font-size: 15px;
}

.text-style{
	text-transform: uppercase;
	font-size: 17px !important;
}

.container .main{
	position: relative;
}
	
	.container .main .titulo{
		position: absolute;
		margin-left: 2%; 
		margin-top: 35%; 
		width: 25%;
	}
		
		.container .main .titulo .img-titulo{
			width: 100%;
		}
	
	.container .main .dictuduras-titulo{
		position: absolute;
		margin-left: -19.5%; 
		margin-top: 40%; 
		width: 25%;
	}
	
		.container .main .dictuduras-titulo .img-dictuduras-titulo{
			width: 100%;
		}
		
	.container .main .back{
		position: absolute;
		margin-left: 1%; 
		margin-top: 3%; 
		width: 3%;
	}

		.container .main .back .img-back{
			/* width: 100%; */
		}	
/*Slide-1*/		
	.img-ano-1930{
		margin-left: 9%; 
		margin-top: 3%; 
		width: 10%;
	}
	.img-ano-1943{
		margin-left: 6%; 
		margin-top: 4%; 
		width: 9%;
	}
	.img-ano-1933{
		margin-left: 6%; 
		margin-top: -1%; 
		width: 10%;
	}
	.img-ano-1935{
		margin-left: 9%; 
		margin-top: 1%; 
		width: 10%;
	}
	.img-ano-1955{
		margin-left: 8%; 
		margin-top: 2%; 
		width: 9%;
	}

	.img-globo-1930{
		margin-left: 10%; 
		margin-top: 0%; 
		width: 11%;
	}
	.img-globo-1931{
		margin-left: 5%; 
		margin-top: -3%; 
		width: 9%;
	}
	.img-globo-1933{
		margin-left: 7%; 
		margin-top: -2%; 
		width: 9%;
	}
	.img-globo-1935{
		margin-left: 10%; 
		margin-top: -2%; 
		width: 9%;
	}
	.img-globo-1935-2{
		margin-left: 5%; 
		margin-top: -3%; 
		width: 9%;
	}
	
	.img-persona-1930{
		margin-left: 12%; 
		margin-top: -1%; 
		width: 7%;
	}
	.img-persona-1931{
		margin-left: 7%; 
		margin-top: -2%; 
		width: 7%;
	}
	.img-persona-1933{
		margin-left: 10%; 
		margin-top: -1%; 
		width: 7%;
	}
	.img-persona-1935{
		margin-left: 9%; 
		margin-top: -1%; 
		width: 7%;
	}
	.img-persona-1935-2{
		margin-left: 9%; 
		margin-top: -1%; 
		width: 7%;
	}
	
/*Slide-2*/
	/*1ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Âº*/		
	.img-ano-1944{
		margin-left: 8%; 
		margin-top: 1%; 
		width: 9%;
	}

	.img-globo-1944{
		margin-left: 10%; 
		margin-top: 0%; 
		width: 11%;
	}	
	
	.img-persona-1944{
		margin-left: 12%; 
		margin-top: -1%; 
		width: 7%;
	}	
	/*2ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Âº*/	
	.img-ano-1945{
		margin-left: 11%; 
		margin-top: 1%; 
		width: 7%;
	}
	
	.img-globo-1945{
		margin-left: 5%; 
		margin-top: -2%; 
		width: 10%;
	}

	.img-persona-1945{
		margin-left: 7%; 
		margin-top: -2%; 
		width: 7%;
	}	
	/*3ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Âº*/	
	.img-ano-1956{
		margin-left: 7%; 
		margin-top: 0%; 
		width: 11%;
	}
	
	.img-globo-1956{
		margin-left: 6%; 
		margin-top: 0%; 
		width: 10%;
	}	

	.img-persona-1956{
		margin-left: 10%; 
		margin-top: 0%; 
		width: 7%;
	}	
	
	
	/*4ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Âº*/	
	.img-ano-1956-2{
		margin-left: 7%; 
		margin-top: 0%; 
		width: 9%;
	}

	.img-globo-1956-2{
		margin-left: 7%; 
		margin-top: 1%; 
		width: 10%;
	}

	.img-persona-1956-2{
		margin-left: 9%; 
		margin-top: -1%; 
		width: 7%;
	}	
	/*5ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Âº*/	
	.img-ano-1957{
		margin-left: 8%; 
		margin-top: 1%; 
		width: 11%;
	}

	.img-globo-1957{
		margin-left: 6%; 
		margin-top: 0%; 
		width: 9%;
	}

	.img-persona-1957{
		margin-left: 9%; 
		margin-top: -1%; 
		width: 7%;
	}

	.img-ano-1962{
		margin-left: 8%; 
		margin-top: 0%; 
		width: 9%;
	}

	.img-ano-1966-2{
		margin-left: 7%; 
		margin-top: 0%; 
		width: 9%;
	}


/*Slide-3*/
	/*1ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Âº*/		
	.img-ano-1966{
		margin-left: 6%; 
		margin-top: 2%; 
		width: 16%;
	}

	.img-globo-1966{
		margin-left: 10%; 
		margin-top: -1%; 
		width: 11%;
	}	
	
	.img-persona-1966{
		margin-left: 12%; 
		margin-top: 0%; 
		width: 7%;
	}	
	/*2ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Âº*/	
	.img-ano-1969{
		margin-left: 2%; 
		margin-top: 4%; 
		width: 12%;
	}
	
	.img-globo-1969{
		margin-left: 5%; 
		margin-top: -1%; 
		width: 10%;
	}

	.img-persona-1969{
		margin-left: 7%; 
		margin-top: -1%; 
		width: 7%;
	}	
	/*3ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Âº*/	
	.img-ano-1972{
		margin-left: 5%; 
		margin-top: 0%; 
		width: 13%;
	}
	
	.img-globo-1972{
		margin-left: 6%; 
		margin-top: -1%; 
		width: 10%;
	}	

	.img-persona-1972{
		margin-left: 10%; 
		margin-top: 0%; 
		width: 7%;
	}	
	
	
	/*4ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Âº*/	
	.img-ano-1976{
		margin-left: 6%; 
		margin-top: 0%; 
		width: 10%;
	}

	.img-globo-1976{
		margin-left: 7%; 
		margin-top: 1%; 
		width: 10%;
	}

	.img-persona-1976{
		margin-left: 9%; 
		margin-top: 0%; 
		width: 7%;
	}	
	/*5ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Âº*/	
	.img-ano-1976-2{
		margin-left: 7%; 
		margin-top: 1%; 
		width: 12%;
	}

	.img-globo-1976-2{
		margin-left: 6%; 
		margin-top: 1%; 
		width: 9%;
	}

	.img-persona-1976-2{
		margin-left: 9%; 
		margin-top: 0%; 
		width: 7%;
	}
/*Slide-4*/
	/*1ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Âº*/		
	.img-ano-1976-3{
		margin-left: 5%; 
		margin-top: 6%; 
		width: 14%;
	}

	.img-globo-1976-3{
		margin-left: 10%; 
		margin-top: 0%; 
		width: 11%;
	}	
	
	.img-persona-1976-3{
		margin-left: 12%; 
		margin-top: 1%; 
		width: 7%;
	}	
	/*2ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Âº*/	
	.img-ano-1977{
		margin-left: 8%; 
		margin-top: 2%; 
		width: 8%;
	}
	
	.img-globo-1977{
		margin-left: 5%; 
		margin-top: 1%; 
		width: 10%;
	}

	.img-persona-1977{
		margin-left: 7%; 
		margin-top: 0%; 
		width: 7%;
	}	
	/*3ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Âº*/	
	.img-ano-1979{
		margin-left: 8%; 
		margin-top: 4%; 
		width: 9%;
	}
	
	.img-globo-1979{
		margin-left: 6%; 
		margin-top: -1%; 
		width: 10%;
	}	

	.img-persona-1979{
		margin-left: 10%; 
		margin-top: 1%; 
		width: 7%;
	}	
	
	/*4ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Âº*/	
	.img-ano-1982{
		margin-left: 7%; 
		margin-top: 1%; 
		width: 12%;
	}

	.img-globo-1982{
		margin-left: 7%; 
		margin-top: -1%; 
		width: 10%;
	}

	.img-persona-1982{
		margin-left: 9%; 
		margin-top: 1%; 
		width: 7%;
	}	
	/*5ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Âº*/	
	.img-ano-1982-2{
		margin-left: 7%; 
		margin-top: 0%; 
		width: 12%;
	}

	.img-globo-1982-2{
		margin-left: 6%; 
		margin-top: -2%; 
		width: 10%;
	}

	.img-persona-1982-2{
		margin-left: 9%; 
		margin-top: 1%; 
		width: 7%;
	}	
	
/*** Modals ***/

	/*** Slide 1 ***/
		
		/*** #1 ***/
			.modal-container-1930 .icono-1930{
				position: absolute;
				margin-left: 20%;
				margin-top: -170%;
				width: 120%;
			}

				.modal-container-1930 .text-content{
					position: absolute;
					margin-left: 15%;
					margin-top: -60%; 
					width: 70%;
					max-height: 330px;
					text-align: justify;
					font-size: 15px;
					overflow-y: scroll;  
					padding-right: 15px;
				}		
		/*** #2 ***/
			.modal-container-1931 .icono-1931{
				position: absolute;
				margin-left: 20%;
				margin-top: -170%;
				width: 120%;
			}

				.modal-container-1931 .text-content{
					position: absolute;
					margin-left: 15%;
					margin-top: -60%; 
					width: 70%;
					max-height: 330px;
					text-align: justify;
					font-size: 15px;
					overflow-y: scroll;  
					padding-right: 15px;
				}			

				.modal-container-1943 .icono-1943{
				position: absolute;
				margin-left: 20%;
				margin-top: -170%;
				width: 120%;
			}

				.modal-container-1943 .text-content{
					position: absolute;
					margin-left: 15%;
					margin-top: -60%; 
					width: 70%;
					max-height: 330px;
					text-align: justify;
					font-size: 15px;
					overflow-y: scroll;  
					padding-right: 15px;
				}			
		/*** #3 ***/
			.modal-container-1933 .icono-1933{
				position: absolute;
				margin-left: 20%;
				margin-top: -170%;
				width: 120%;
			}

				.modal-container-1933 .text-content{
					position: absolute;
					margin-left: 15%;
					margin-top: -60%; 
					width: 70%;
					max-height: 330px;
					text-align: justify;
					font-size: 15px;
					overflow-y: scroll;  
					padding-right: 15px;
				}			
		/*** #4 ***/
			.modal-container-1935 .icono-1935{
				position: absolute;
				margin-left: 20%;
				margin-top: -170%;
				width: 120%;
			}

				.modal-container-1935 .text-content{
					position: absolute;
					margin-left: 15%;
					margin-top: -60%; 
					width: 70%;
					max-height: 330px;
					text-align: justify;
					font-size: 15px;  
				}				
		/*** #5 ***/
			.modal-container-1935-2 .icono-1935-2{
				position: absolute;
				margin-left: 20%;
				margin-top: -170%;
				width: 120%;
			}

				.modal-container-1935-2 .text-content{
					position: absolute;
					margin-left: 15%;
					margin-top: -60%; 
					width: 70%;
					max-height: 330px;
					text-align: justify;
					font-size: 15px;
					overflow-y: scroll;  
					padding-right: 15px;
				}			


			.modal-container-1955 .icono-1955{
				position: absolute;
				margin-left: 20%;
				margin-top: -170%;
				width: 120%;
			}

				.modal-container-1955 .text-content{
					position: absolute;
					margin-left: 15%;
					margin-top: -60%; 
					width: 70%;
					max-height: 330px;
					text-align: justify;
					font-size: 15px;
					overflow-y: scroll;  
					padding-right: 15px;
				}			
	/*** Slide 2 ***/
		
		/*** #1 ***/
			.modal-container-1944 .icono-1944{
				position: absolute;
				margin-left: 20%;
				margin-top: -170%;
				width: 120%;
			}

				.modal-container-1944 .text-content{
					position: absolute;
					margin-left: 15%;
					margin-top: -60%; 
					width: 70%;
					max-height: 330px;
					text-align: justify;
					font-size: 15px;
					overflow-y: scroll;  
					padding-right: 15px;
				}					
		/*** #2 ***/
			.modal-container-1945 .icono-1945{
				position: absolute;
				margin-left: 20%;
				margin-top: -170%;
				width: 120%;
			}

				.modal-container-1945 .text-content{
					position: absolute;
					margin-left: 15%;
					margin-top: -60%; 
					width: 70%;
					max-height: 330px;
					text-align: justify;
					font-size: 15px;
					overflow-y: scroll;  
					padding-right: 15px;
				}			
		/*** #3 ***/
			.modal-container-1956 .icono-1956{
				position: absolute;
				margin-left: 20%;
				margin-top: -170%;
				width: 120%;
			}

				.modal-container-1956 .text-content{
					position: absolute;
					margin-left: 15%;
					margin-top: -60%; 
					width: 70%;
					max-height: 330px;
					text-align: justify;
					font-size: 15px;
					overflow-y: scroll;  
					padding-right: 15px;
				}					
		/*** #4 ***/
			.modal-container-1956-2 .icono-1956-2{
				position: absolute;
				margin-left: 20%;
				margin-top: -170%;
				width: 120%;
			}

				.modal-container-1956-2 .text-content{
					position: absolute;
					margin-left: 15%;
					margin-top: -60%; 
					width: 70%;
					max-height: 330px;
					text-align: justify;
					font-size: 15px;
					overflow-y: scroll;  
					padding-right: 15px;
				}					

			.modal-container-1962 .icono-1962{
				position: absolute;
				margin-left: 20%;
				margin-top: -170%;
				width: 120%;
			}

				.modal-container-1962 .text-content{
					position: absolute;
					margin-left: 15%;
					margin-top: -60%; 
					width: 70%;
					max-height: 330px;
					text-align: justify;
					font-size: 15px;
					overflow-y: scroll;  
					padding-right: 15px;
				}		


				.modal-container-1966-2 .icono-1966-2{
				position: absolute;
				margin-left: 20%;
				margin-top: -170%;
				width: 120%;
			}

				.modal-container-1966-2 .text-content{
					position: absolute;
					margin-left: 15%;
					margin-top: -60%; 
					width: 70%;
					max-height: 330px;
					text-align: justify;
					font-size: 15px;
					overflow-y: scroll;  
					padding-right: 15px;
				}	

		/*** #5 ***/
			.modal-container-1957 .icono-1957{
				position: absolute;
				margin-left: 20%;
				margin-top: -170%;
				width: 120%;
			}

				.modal-container-1957 .text-content{
					position: absolute;
					margin-left: 15%;
					margin-top: -60%; 
					width: 70%;
					max-height: 330px;
					text-align: justify;
					font-size: 15px;
					overflow-y: scroll;  
					padding-right: 15px;
				}				
	/*** Slide 3 ***/
		
		/*** #1 ***/
			.modal-container-1966 .icono-1966{
				position: absolute;
				margin-left: -10%;
				margin-top: -179%;
				width: 160%;
			}

				.modal-container-1966 .text-content{
					position: absolute;
					margin-left: 8%;
					margin-top: -60%; 
					width: 78%;
					max-height: 330px;
					text-align: justify;
					font-size: 15px;
					overflow-y: scroll;  
					padding-right: 15px;
				}		
		/*** #2 ***/
			.modal-container-1969 .icono-1969{
				position: absolute;
				margin-left: 20%;
				margin-top: -170%;
				width: 120%;
			}

				.modal-container-1969 .text-content{
					position: absolute;
					margin-left: 15%;
					margin-top: -60%; 
					width: 70%;
					max-height: 330px;
					text-align: justify;
					font-size: 15px;
					overflow-y: scroll;  
					padding-right: 15px;
				}		
		/*** #3 ***/
			.modal-container-1972 .icono-1972{
				position: absolute;
				margin-left: 20%;
				margin-top: -170%;
				width: 120%;
			}

				.modal-container-1972 .text-content{
					position: absolute;
					margin-left: 15%;
					margin-top: -60%; 
					width: 70%;
					max-height: 330px;
					text-align: justify;
					font-size: 15px;
					overflow-y: scroll;  
					padding-right: 15px;
				}		
		/*** #4 ***/
			.modal-container-1976 .icono-1976{
				position: absolute;
				margin-left: 20%;
				margin-top: -170%;
				width: 120%;
			}

				.modal-container-1976 .text-content{
					position: absolute;
					margin-left: 15%;
					margin-top: -60%; 
					width: 70%;
					max-height: 330px;
					text-align: justify;
					font-size: 15px;
					overflow-y: scroll;  
					padding-right: 15px;
				}			
		/*** #5 ***/
			.modal-container-1976-2 .icono-1976-2{
				position: absolute;
				margin-left: 20%;
				margin-top: -170%;
				width: 120%;
			}

				.modal-container-1976-2 .text-content{
					position: absolute;
					margin-left: 15%;
					margin-top: -60%; 
					width: 70%;
					max-height: 330px;
					text-align: justify;
					font-size: 15px;
					overflow-y: scroll;  
					padding-right: 15px;
				}		
	/*** Slide 4 ***/
		
		/*** #1 ***/
			.modal-container-1976-3 .icono-1976-3{
				position: absolute;
				margin-left: 20%;
				margin-top: -170%;
				width: 120%;
			}

				.modal-container-1976-3 .text-content{
					position: absolute;
					margin-left: 15%;
					margin-top: -60%; 
					width: 70%;
					max-height: 330px;
					text-align: justify;
					font-size: 15px;
					overflow-y: scroll;  
					padding-right: 15px;
				}				
		/*** #2 ***/
			.modal-container-1977 .icono-1977{
				position: absolute;
				margin-left: 20%;
				margin-top: -170%;
				width: 120%;
			}

				.modal-container-1977 .text-content{
					position: absolute;
					margin-left: 15%;
					margin-top: -60%; 
					width: 70%;
					max-height: 330px;
					text-align: justify;
					font-size: 15px;
					overflow-y: scroll;  
					padding-right: 15px;
				}			
		/*** #3 ***/
			.modal-container-1979 .icono-1979{
				position: absolute;
				margin-left: 20%;
				margin-top: -170%;
				width: 120%;
			}

				.modal-container-1979 .text-content{
					position: absolute;
					margin-left: 15%;
					margin-top: -60%; 
					width: 70%;
					max-height: 330px;
					text-align: justify;
					font-size: 15px;
					overflow-y: scroll;  
					padding-right: 15px;
				}				
		/*** #4 ***/
			.modal-container-1982 .icono-1982{
				position: absolute;
				margin-left: 20%;
				margin-top: -170%;
				width: 120%;
			}

				.modal-container-1982 .text-content{
					position: absolute;
					margin-left: 15%;
					margin-top: -60%; 
					width: 70%;
					max-height: 330px;
					text-align: justify;
					font-size: 15px;  
				}			
		/*** #5 ***/
			.modal-container-1982-2 .icono-1982-2{
				position: absolute;
				margin-left: 20%;
				margin-top: -170%;
				width: 120%;
			}

				.modal-container-1982-2 .text-content{
					position: absolute;
					margin-left: 15%;
					margin-top: -60%; 
					width: 70%;
					max-height: 330px;
					text-align: justify;
					font-size: 15px;
					overflow-y: scroll;  
					padding-right: 15px;
				}		
	.paulund_modal_box{
		position: absolute;
		left: 17%;
		top: 5%;
		height: 76%;
		width: 67%;
		z-index: 50;
	}
		.paulund_modal_box .paulund_modal_close{
			position: relative;
			top: 13%;
			left: -3%;
			float: right;
			display: block;
			height: 50px;
			width: 50px;
			background: url("../../images/close.png") no-repeat;
		}
@media (max-height: 442px) {


.img-bandita-1930{  
	width: 30px;
	opacity: 0;
	margin-left: 110px;
	margin-top: -120px;
}

.img-bandita2-1930{
	margin-left: -30px; 
	margin-top: -95px; 
	width: 20px;
	opacity: 0;
}

.img-bandita-1931{  
	width: 30px;
	opacity: 0;
	margin-left: 92px;
	margin-top: -116px;
}

.img-bandita2-1931{
	margin-left: -30px; 
	margin-top: -93px; 
	width: 20px;
	opacity: 0;
}

.img-bandita-1933{  
	width: 30px;
	opacity: 0;
	margin-left: 115px;
	margin-top: -120px;
}

.img-bandita2-1933{
	margin-left: -30px; 
	margin-top: -95px; 
	width: 20px;
	opacity: 0;
}

.img-bandita-1935{  
	width: 30px;
	opacity: 0;
	margin-left: 105px;
	margin-top: -109px;
}

.img-bandita2-1935{
	margin-left: -30px; 
	margin-top: -89px; 
	width: 20px;
	opacity: 0;
}

.img-bandita-1935-2{  
	width: 30px;
	opacity: 0;
	margin-left: 109px;
	margin-top: -122px;
}

.img-bandita2-1935-2{
	margin-left: -31px; 
	margin-top: -100px; 
	width: 20px;
	opacity: 0;
}
/*Slide 2*/
.img-bandita-1956{  
	width: 30px;
	opacity: 0;
	margin-left: 376px;
	margin-top: -120px;
}

.img-bandita2-1956{
	margin-left: -30px; 
	margin-top: -95px; 
	width: 20px;
	opacity: 0;
}

.img-bandita-1956-2{  
	width: 30px;
	opacity: 0;
	margin-left: 106px;
	margin-top: -115px;
}

.img-bandita2-1956-2{
	margin-left: -30px; 
	margin-top: -97px; 
	width: 20px;
	opacity: 0;
}

.img-bandita-1957{  
	width: 30px;
	opacity: 0;
	margin-left: 107px;
	margin-top: -130px;
}

.img-bandita2-1957{
	margin-left: -30px; 
	margin-top: -108px; 
	width: 20px;
	opacity: 0;
}
/*Slide 2*/
/*Slide 3*/
.img-bandita-1966{  
	width: 30px;
	opacity: 0;
	margin-left: 112px;
	margin-top: -122px;
}

.img-bandita2-1966{
	margin-left: -30px; 
	margin-top: -99px; 
	width: 20px;
	opacity: 0;
}

.img-bandita-1969{  
	width: 30px;
	opacity: 0;
	margin-left: 89px;
	margin-top: -119px;
}

.img-bandita2-1969{
	margin-left: -30px; 
	margin-top: -97px; 
	width: 20px;
	opacity: 0;
}
.img-bandita-1972{  
	width: 30px;
	opacity: 0;
	margin-left: 114px;
	margin-top: -121px;
}

.img-bandita2-1972{
	margin-left: -30px; 
	margin-top: -98px; 
	width: 20px;
	opacity: 0;
}

.img-bandita-1976{  
	width: 30px;
	opacity: 0;
	margin-left: 106px;
	margin-top: -110px;
}

.img-bandita2-1976{
	margin-left: -30px; 
	margin-top: -89px; 
	width: 20px;
	opacity: 0;
}

.img-bandita-1976-2{  
	width: 30px;
	opacity: 0;
	margin-left: 107px;
	margin-top: -120px;
}

.img-bandita2-1976-2{
	margin-left: -30px; 
	margin-top: -99px; 
	width: 20px;
	opacity: 0;
}
/*Slide 3*/
/*Slide 4*/
.img-bandita-1976-3{  
	width: 30px;
	opacity: 0;
	margin-left: 112px;
	margin-top: -122px;
}

.img-bandita2-1976-3{
	margin-left: -30px; 
	margin-top: -99px; 
	width: 20px;
	opacity: 0;
}

.img-bandita-1977{  
	width: 30px;
	opacity: 0;
	margin-left: 89px;
	margin-top: -119px;
}

.img-bandita2-1977{
	margin-left: -30px; 
	margin-top: -97px; 
	width: 20px;
	opacity: 0;
}
.img-bandita-1979{  
	width: 30px;
	opacity: 0;
	margin-left: 115px;
	margin-top: -121px;
}

.img-bandita2-1979{
	margin-left: -30px; 
	margin-top: -98px; 
	width: 20px;
	opacity: 0;
}

.img-bandita-1982{  
	width: 30px;
	opacity: 0;
	margin-left: 106px;
	margin-top: -110px;
}

.img-bandita2-1982{
	margin-left: -30px; 
	margin-top: -89px; 
	width: 20px;
	opacity: 0;
}

.img-bandita-1982-2{  
	width: 30px;
	opacity: 0;
	margin-left: 107px;
	margin-top: -125px;
}

.img-bandita2-1982-2{
	margin-left: -30px; 
	margin-top: -104px; 
	width: 20px;
	opacity: 0;
}
/*Slide 4*/

.text-content{
	color: #7E7E7E;
	font-size: 15px;
}

.text-style{
	text-transform: uppercase;
	font-size: 17px !important;
}

.container .main{
	position: relative;
}
	
	.container .main .titulo{
		position: absolute;
		margin-left: 2%; 
		margin-top: 31%; 
		width: 23%;
	}
		
		.container .main .titulo .img-titulo{
			width: 100%;
		}
	
	.container .main .dictuduras-titulo{
		position: absolute;
		margin-left: -19.5%; 
		margin-top: 34%; 
		width: 25%;
	}
	
		.container .main .dictuduras-titulo .img-dictuduras-titulo{
			width: 100%;
		}
		
	.container .main .back{
		position: absolute;
		margin-left: 1%; 
		margin-top: 3%; 
		width: 3%;
	}

		.container .main .back .img-back{
			/* width: 100%; */
		}	
/*Slide-1*/		
	.img-ano-1930{
		margin-left: 9%; 
		margin-top: 3%; 
		width: 10%;
	}
	.img-ano-1943{
		margin-left: 5%; 
		margin-top: 1%; 
		width: 12%;
	}
	.img-ano-1933{
		margin-left: 6%; 
		margin-top: -1%; 
		width: 10%;
	}
	.img-ano-1935{
		margin-left: 9%; 
		margin-top: 1%; 
		width: 10%;
	}
	.img-ano-1935-2{
		margin-left: 6%; 
		margin-top: -1%; 
		width: 12%;
	}

	.img-globo-1930{
		margin-left: 10%; 
		margin-top: 0%; 
		width: 11%;
	}
	.img-globo-1931{
		margin-left: 5%; 
		margin-top: -3%; 
		width: 9%;
	}
	.img-globo-1933{
		margin-left: 7%; 
		margin-top: -2%; 
		width: 9%;
	}
	.img-globo-1935{
		margin-left: 10%; 
		margin-top: -2%; 
		width: 9%;
	}
	.img-globo-1935-2{
		margin-left: 5%; 
		margin-top: -3%; 
		width: 9%;
	}
	
	.img-persona-1930{
		margin-left: 12%; 
		margin-top: -1%; 
		width: 7%;
	}
	.img-persona-1931{
		margin-left: 7%; 
		margin-top: -2%; 
		width: 7%;
	}
	.img-persona-1933{
		margin-left: 10%; 
		margin-top: -1%; 
		width: 7%;
	}
	.img-persona-1935{
		margin-left: 9%; 
		margin-top: -1%; 
		width: 7%;
	}
	.img-persona-1935-2{
		margin-left: 9%; 
		margin-top: -1%; 
		width: 7%;
	}
	
/*Slide-2*/
	/*1ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Âº*/		
	.img-ano-1944{
		margin-left: 6%; 
		margin-top: 2%; 
		width: 13%;
	}

	.img-globo-1944{
		margin-left: 10%; 
		margin-top: 0%; 
		width: 11%;
	}	
	
	.img-persona-1944{
		margin-left: 12%; 
		margin-top: -1%; 
		width: 7%;
	}	
	/*2ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Âº*/	
	.img-ano-1945{
		margin-left: 5%; 
		margin-top: 1%; 
		width: 11%;
	}
	
	.img-globo-1945{
		margin-left: 5%; 
		margin-top: -2%; 
		width: 10%;
	}

	.img-persona-1945{
		margin-left: 7%; 
		margin-top: -2%; 
		width: 7%;
	}	
	/*3ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Âº*/	
	.img-ano-1956{
		margin-left: 7%; 
		margin-top: 0%; 
		width: 8%;
	}
	
	.img-globo-1956{
		margin-left: 6%; 
		margin-top: 0%; 
		width: 10%;
	}	

	.img-persona-1956{
		margin-left: 10%; 
		margin-top: 0%; 
		width: 7%;
	}	
	
	
	/*4ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Âº*/	
	.img-ano-1956-2{
		margin-left: 9%; 
		margin-top: 1%; 
		width: 11%;
	}

	.img-globo-1956-2{
		margin-left: 7%; 
		margin-top: 1%; 
		width: 10%;
	}

	.img-persona-1956-2{
		margin-left: 9%; 
		margin-top: -1%; 
		width: 7%;
	}	
	/*5ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Âº*/	
	.img-ano-1957{
		margin-left: 8%; 
		margin-top: 1%; 
		width: 13%;
	}

	.img-globo-1957{
		margin-left: 6%; 
		margin-top: 0%; 
		width: 9%;
	}

	.img-persona-1957{
		margin-left: 9%; 
		margin-top: -1%; 
		width: 7%;
	}
/*Slide-3*/
	/*1ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Âº*/		
	.img-ano-1966{
		margin-left: 6%; 
		margin-top: 2%; 
		width: 16%;
	}

	.img-globo-1966{
		margin-left: 10%; 
		margin-top: -1%; 
		width: 11%;
	}	
	
	.img-persona-1966{
		margin-left: 12%; 
		margin-top: 0%; 
		width: 7%;
	}	
	/*2ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Âº*/	
	.img-ano-1969{
		margin-left: 2%; 
		margin-top: 4%; 
		width: 12%;
	}
	
	.img-globo-1969{
		margin-left: 5%; 
		margin-top: -1%; 
		width: 10%;
	}

	.img-persona-1969{
		margin-left: 7%; 
		margin-top: -1%; 
		width: 7%;
	}	
	/*3ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Âº*/	
	.img-ano-1972{
		margin-left: 5%; 
		margin-top: 0%; 
		width: 13%;
	}
	
	.img-globo-1972{
		margin-left: 6%; 
		margin-top: -1%; 
		width: 10%;
	}	

	.img-persona-1972{
		margin-left: 10%; 
		margin-top: 0%; 
		width: 7%;
	}	
	
	
	/*4ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Âº*/	
	.img-ano-1976{
		margin-left: 6%; 
		margin-top: -1%; 
		width: 8%;
	}

	.img-globo-1976{
		margin-left: 7%; 
		margin-top: 1%; 
		width: 10%;
	}

	.img-persona-1976{
		margin-left: 9%; 
		margin-top: 0%; 
		width: 7%;
	}	
	/*5ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Âº*/	
	.img-ano-1976-2{
		margin-left: 9%; 
		margin-top: 1%; 
		width: 12%;
	}

	.img-globo-1976-2{
		margin-left: 6%; 
		margin-top: 1%; 
		width: 9%;
	}

	.img-persona-1976-2{
		margin-left: 9%; 
		margin-top: 0%; 
		width: 7%;
	}
/*Slide-4*/
	/*1ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Âº*/		
	.img-ano-1976-3{
		margin-left: 5%; 
		margin-top: 6%; 
		width: 14%;
	}

	.img-globo-1976-3{
		margin-left: 10%; 
		margin-top: 0%; 
		width: 11%;
	}	
	
	.img-persona-1976-3{
		margin-left: 12%; 
		margin-top: 1%; 
		width: 7%;
	}	
	/*2ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Âº*/	
	.img-ano-1977{
		margin-left: 8%; 
		margin-top: 2%; 
		width: 8%;
	}
	
	.img-globo-1977{
		margin-left: 5%; 
		margin-top: 1%; 
		width: 10%;
	}

	.img-persona-1977{
		margin-left: 7%; 
		margin-top: 0%; 
		width: 7%;
	}	
	/*3ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Âº*/	
	.img-ano-1979{
		margin-left: 8%; 
		margin-top: 4%; 
		width: 9%;
	}
	
	.img-globo-1979{
		margin-left: 6%; 
		margin-top: -1%; 
		width: 10%;
	}	

	.img-persona-1979{
		margin-left: 10%; 
		margin-top: 1%; 
		width: 7%;
	}	
	
	/*4ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Âº*/	
	.img-ano-1982{
		margin-left: 7%; 
		margin-top: 1%; 
		width: 12%;
	}

	.img-globo-1982{
		margin-left: 7%; 
		margin-top: -1%; 
		width: 10%;
	}

	.img-persona-1982{
		margin-left: 9%; 
		margin-top: 1%; 
		width: 7%;
	}	
	/*5ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Âº*/	
	.img-ano-1982-2{
		margin-left: 7%; 
		margin-top: 0%; 
		width: 12%;
	}

	.img-globo-1982-2{
		margin-left: 6%; 
		margin-top: -2%; 
		width: 10%;
	}

	.img-persona-1982-2{
		margin-left: 9%; 
		margin-top: 1%; 
		width: 7%;
	}	
	
/*** Modals ***/

	/*** Slide 1 ***/
		
		/*** #1 ***/
			.modal-container-1930 .icono-1930{
				position: absolute;
				margin-left: 20%;
				margin-top: -170%;
				width: 120%;
			}

				.modal-container-1930 .text-content{
					position: absolute;
					margin-left: 15%;
					margin-top: -60%; 
					width: 70%;
					max-height: 300px;
					text-align: justify;
					font-size: 15px;
					overflow-y: scroll;  
					padding-right: 15px;
				}		
		/*** #2 ***/
			.modal-container-1931 .icono-1931{
				position: absolute;
				margin-left: 20%;
				margin-top: -170%;
				width: 120%;
			}

				.modal-container-1931 .text-content{
					position: absolute;
					margin-left: 15%;
					margin-top: -60%; 
					width: 70%;
					max-height: 300px;
					text-align: justify;
					font-size: 15px;
					overflow-y: scroll;  
					padding-right: 15px;
				}			
		/*** #3 ***/
			.modal-container-1933 .icono-1933{
				position: absolute;
				margin-left: 20%;
				margin-top: -170%;
				width: 120%;
			}

				.modal-container-1933 .text-content{
					position: absolute;
					margin-left: 15%;
					margin-top: -60%; 
					width: 70%;
					max-height: 300px;
					text-align: justify;
					font-size: 15px;
					overflow-y: scroll;  
					padding-right: 15px;
				}			
		/*** #4 ***/
			.modal-container-1935 .icono-1935{
				position: absolute;
				margin-left: 20%;
				margin-top: -170%;
				width: 120%;
			}

				.modal-container-1935 .text-content{
					position: absolute;
					margin-left: 15%;
					margin-top: -60%; 
					width: 70%;
					max-height: 300px;
					text-align: justify;
					font-size: 15px;  
				}				
		/*** #5 ***/
			.modal-container-1935-2 .icono-1935-2{
				position: absolute;
				margin-left: 20%;
				margin-top: -170%;
				width: 120%;
			}

				.modal-container-1935-2 .text-content{
					position: absolute;
					margin-left: 15%;
					margin-top: -60%; 
					width: 70%;
					max-height: 300px;
					text-align: justify;
					font-size: 15px;
					overflow-y: scroll;  
					padding-right: 15px;
				}			
	/*** Slide 2 ***/
		
		/*** #1 ***/
			.modal-container-1944 .icono-1944{
				position: absolute;
				margin-left: 20%;
				margin-top: -170%;
				width: 120%;
			}

				.modal-container-1944 .text-content{
					position: absolute;
					margin-left: 15%;
					margin-top: -60%; 
					width: 70%;
					max-height: 300px;
					text-align: justify;
					font-size: 15px;
					overflow-y: scroll;  
					padding-right: 15px;
				}					
		/*** #2 ***/
			.modal-container-1945 .icono-1945{
				position: absolute;
				margin-left: 20%;
				margin-top: -170%;
				width: 120%;
			}

				.modal-container-1945 .text-content{
					position: absolute;
					margin-left: 15%;
					margin-top: -60%; 
					width: 70%;
					max-height: 300px;
					text-align: justify;
					font-size: 15px;
					overflow-y: scroll;  
					padding-right: 15px;
				}			
		/*** #3 ***/
			.modal-container-1956 .icono-1956{
				position: absolute;
				margin-left: 20%;
				margin-top: -170%;
				width: 120%;
			}

				.modal-container-1956 .text-content{
					position: absolute;
					margin-left: 15%;
					margin-top: -60%; 
					width: 70%;
					max-height: 300px;
					text-align: justify;
					font-size: 15px;
					overflow-y: scroll;  
					padding-right: 15px;
				}					
		/*** #4 ***/
			.modal-container-1956-2 .icono-1956-2{
				position: absolute;
				margin-left: 20%;
				margin-top: -170%;
				width: 120%;
			}

				.modal-container-1956-2 .text-content{
					position: absolute;
					margin-left: 15%;
					margin-top: -60%; 
					width: 70%;
					max-height: 300px;
					text-align: justify;
					font-size: 15px;
					overflow-y: scroll;  
					padding-right: 15px;
				}					
		/*** #5 ***/
			.modal-container-1957 .icono-1957{
				position: absolute;
				margin-left: 20%;
				margin-top: -170%;
				width: 120%;
			}

				.modal-container-1957 .text-content{
					position: absolute;
					margin-left: 15%;
					margin-top: -60%; 
					width: 70%;
					max-height: 300px;
					text-align: justify;
					font-size: 15px;
					overflow-y: scroll;  
					padding-right: 15px;
				}				
	/*** Slide 3 ***/
		
		/*** #1 ***/
			.modal-container-1966 .icono-1966{
				position: absolute;
				margin-left: -10%;
				margin-top: -179%;
				width: 160%;
			}

				.modal-container-1966 .text-content{
					position: absolute;
					margin-left: 8%;
					margin-top: -60%; 
					width: 78%;
					max-height: 300px;
					text-align: justify;
					font-size: 15px;
					overflow-y: scroll;  
					padding-right: 15px;
				}		
		/*** #2 ***/
			.modal-container-1969 .icono-1969{
				position: absolute;
				margin-left: 20%;
				margin-top: -170%;
				width: 120%;
			}

				.modal-container-1969 .text-content{
					position: absolute;
					margin-left: 15%;
					margin-top: -60%; 
					width: 70%;
					max-height: 300px;
					text-align: justify;
					font-size: 15px;
					overflow-y: scroll;  
					padding-right: 15px;
				}		
		/*** #3 ***/
			.modal-container-1972 .icono-1972{
				position: absolute;
				margin-left: 20%;
				margin-top: -170%;
				width: 120%;
			}

				.modal-container-1972 .text-content{
					position: absolute;
					margin-left: 15%;
					margin-top: -60%; 
					width: 70%;
					max-height: 300px;
					text-align: justify;
					font-size: 15px;
					overflow-y: scroll;  
					padding-right: 15px;
				}		
		/*** #4 ***/
			.modal-container-1976 .icono-1976{
				position: absolute;
				margin-left: 20%;
				margin-top: -170%;
				width: 120%;
			}

				.modal-container-1976 .text-content{
					position: absolute;
					margin-left: 15%;
					margin-top: -60%; 
					width: 70%;
					max-height: 300px;
					text-align: justify;
					font-size: 15px;
					overflow-y: scroll;  
					padding-right: 15px;
				}			
		/*** #5 ***/
			.modal-container-1976-2 .icono-1976-2{
				position: absolute;
				margin-left: 20%;
				margin-top: -170%;
				width: 120%;
			}

				.modal-container-1976-2 .text-content{
					position: absolute;
					margin-left: 15%;
					margin-top: -60%; 
					width: 70%;
					max-height: 300px;
					text-align: justify;
					font-size: 15px;
					overflow-y: scroll;  
					padding-right: 15px;
				}		
	/*** Slide 4 ***/
		
		/*** #1 ***/
			.modal-container-1976-3 .icono-1976-3{
				position: absolute;
				margin-left: 20%;
				margin-top: -170%;
				width: 120%;
			}

				.modal-container-1976-3 .text-content{
					position: absolute;
					margin-left: 15%;
					margin-top: -60%; 
					width: 70%;
					max-height: 300px;
					text-align: justify;
					font-size: 15px;
					overflow-y: scroll;  
					padding-right: 15px;
				}				
		/*** #2 ***/
			.modal-container-1977 .icono-1977{
				position: absolute;
				margin-left: 20%;
				margin-top: -170%;
				width: 120%;
			}

				.modal-container-1977 .text-content{
					position: absolute;
					margin-left: 15%;
					margin-top: -60%; 
					width: 70%;
					max-height: 300px;
					text-align: justify;
					font-size: 15px;
					overflow-y: scroll;  
					padding-right: 15px;
				}			
		/*** #3 ***/
			.modal-container-1979 .icono-1979{
				position: absolute;
				margin-left: 20%;
				margin-top: -170%;
				width: 120%;
			}

				.modal-container-1979 .text-content{
					position: absolute;
					margin-left: 15%;
					margin-top: -60%; 
					width: 70%;
					max-height: 300px;
					text-align: justify;
					font-size: 15px;
					overflow-y: scroll;  
					padding-right: 15px;
				}				
		/*** #4 ***/
			.modal-container-1982 .icono-1982{
				position: absolute;
				margin-left: 20%;
				margin-top: -170%;
				width: 120%;
			}

				.modal-container-1982 .text-content{
					position: absolute;
					margin-left: 15%;
					margin-top: -60%; 
					width: 70%;
					max-height: 300px;
					text-align: justify;
					font-size: 15px;  
				
					overflow-y: scroll;  padding-right: 15px;
}			
		/*** #5 ***/
			.modal-container-1982-2 .icono-1982-2{
				position: absolute;
				margin-left: 20%;
				margin-top: -170%;
				width: 120%;
			}

				.modal-container-1982-2 .text-content{
					position: absolute;
					margin-left: 15%;
					margin-top: -60%; 
					width: 70%;
					max-height: 300px;
					text-align: justify;
					font-size: 15px;
					overflow-y: scroll;  
					padding-right: 15px;
				}	
				
	.paulund_modal_box{
		position: absolute;
		left: 10%;
		top: -8%;
		height: 100%;
		width: 82%;
		z-index: 50;
	}
		.paulund_modal_box .paulund_modal_close{
			position: relative;
			top: 13%;
			left: -3%;
			float: right;
			display: block;
			height: 50px;
			width: 50px;
			background: url("../../images/close.png") no-repeat;
		}

}				