/* ##### INFO 2 ##### */
	
	.texto-style{
		text-align: right;
		color: #6B6B6B;
		font-size: 15px;
		letter-spacing: 0.5px;
	}
	
	.texto-style-2{
		padding: 2px;
		color: #FFF;
		background-color: #6f6d6d;
		font-size: 16px;
	}
	
	.texto-style-3{
		text-align: left;
		color: #8B8B8B;
		font-size: 11px;
	}
	
	.texto-style-5{
		text-align: left;
		color: #65a9df;
		font-size: 15px;
	}

	
	.texto-style-6{
		-webkit-transform: rotate(270deg);   
		-moz-transform: rotate(270deg);
		-ms-transform: rotate(270deg);
		-o-transform: rotate(270deg);
		transform: rotate(270deg);
		
		color: #59b9ff;
		text-transform: uppercase;
	
		font-size: 20px;
	}
		
	.texto-style-7{
		font-size: 19px;
	}
	
	.texto-style-8{
		color: #59b9ff;
		font-size: 19px;
		float: right;
	}
	
	.texto-style-9{
		font-size: 19px;
	}
	

	
	.texto-style-10{
		color: #59b9ff;
		font-size: 15px;
		text-transform: uppercase;
	}
	
	.texto-style-11{
		text-align: justify;
		color: #6B6B6B;
		font-size: 13px;
		letter-spacing: 1.7px;
	}
	
	.autoridad-item{
		padding:10px;
	}
	
	.texto-style-3-bg{
		text-align: left;
		color: #FFF;
		font-size: 10px;
		background-color: #59b9ff;
	}
	
	.container{
		background-repeat: no-repeat;
		background-position: right top;
		background-size: 100% 100%;	
	}

		.container .main{
			position: relative;
		}
			
		.container .main .titulo{
			position: absolute;
			margin-left: 70%; 
			margin-top: 2%; 
		
			width: 26%;
}
			
			.container .main .titulo .img-titulo{
				width: 100%;
			}

		.container .main .back{
			position: absolute;
			margin-left: 1%;
			margin-top: 3%; 
		}
			.container .main .back .img-back{
				width: 75%;
			}
			
			.container .main .back:hover{
				-webkit-transform: translateY(-5px);
				transform: translateY(-5px);
				opacity: 0.7;
			}
			
		.container .main .diputados{
			position: absolute;
			margin-left: 71%; 
			margin-top: 8%; 
		
			cursor: pointer;
			width: 6%;
}
			
			.container .main .diputados .img-diputados{
				width: 100%;
			}
			
			.container .main .link-galeria-texto{
				font-size: 17px;
				color: #6DB5DB;
				position: absolute;
				margin-left: 77%;
				margin-top: 12%;
				width: 20%;	
				line-height: 20px;
			}
			
			.container .main .link-fotogaleria a{ 
				font-size: 15px;
				color: #65B1D9;
			}

		
		.container .main .texto-1{
			position: absolute;
			margin-left: 8%; 
			margin-top: 3%; 
		
}
		
		.container .main .texto-2{
			position: absolute;
			margin-left: 23.5%; 
			margin-top: 15.5%; 
}
		
		.container .main .texto-3{
			position: absolute;
			margin-left: 66%; 
			margin-top: 19%; 
		
			width: 30%;
		}
			.container .main .texto-3 .img-columna-3{
				float:left;
				width: 46%;			
			
				padding: 5px;
				cursor: pointer;
}
		.container .main .texto-5{
			position: absolute;
			margin-left: 34%; 
			margin-top: 19%; 
		
			width: 30%;
		}
			.container .main .texto-5 .img-columna-5{
				float:left;
				width: 44%;			
			
				padding: 5px;
				cursor: pointer;
}
		
		.container .main .texto-7{
			position: absolute;
			margin-left: 2%; 
			margin-top: 19%; 
		
			width: 30%;
		}
		
			.container .main .texto-7 .img-columna-7{
				float:left;
				width: 46%;
			
				padding: 5px;
}
		.container .main .texto-8{
			position: absolute;
			margin-left: 0%; 
			margin-top: 26%; 
		
			width: 35%;
}
		.container .main .texto-9{
			position: absolute;
			margin-left: 70%; 
			margin-top: 56%; 
		}

			.container .main .volver{
				position: absolute;
				margin-left: 1%; 
				margin-top: 57%; 
			}
		
				.container .main .volver .img-volver{
					width: 275%;
				}
/*** Modals ***/
	/*** #1 ***/
	.modal-container-autoridades .texto-style-6{
position: absolute;
margin-left: -30%;
margin-top: -263%;
width: 210%;
				-webkit-transform: rotate(270deg);   
				-moz-transform: rotate(270deg);
				-ms-transform: rotate(270deg);
				-o-transform: rotate(270deg);
				transform: rotate(270deg);
color: #59B9FF;
text-transform: uppercase;
font-size: 23px;
	}

		.modal-container-autoridades .text-content{
position: absolute;
margin-left: 1%;
margin-top: -70%;
width: 80%;
max-height: 300px;
text-align: justify;
font-size: 15px;
overflow-y: scroll;
padding-right: 15px;
		}	
	
	.modal-container-bloques .texto-style-6{
position: absolute;
margin-left: -30%;
margin-top: -296%;
width: 210%;
transform: rotate(270deg);
color: #59B9FF;
text-transform: uppercase;
font-size: 26px;
	}

		.modal-container-bloques .text-content{
			position: absolute;
			position: absolute;
			margin-left: 0%;
			margin-top: -69%;
			width: 81%;
			max-height: 298px;
			text-align: justify;
			font-size: 15px;
			overflow-y: scroll;
			padding-right: 15px;
		}	

	.modal-container-diputados-provincias .texto-style-6{
position: absolute;
margin-left: -85%;
margin-top: -255%;
				width: 300%;
				-webkit-transform: rotate(270deg);   
				-moz-transform: rotate(270deg);
				-ms-transform: rotate(270deg);
				-o-transform: rotate(270deg);
				transform: rotate(270deg);
				color: #59b9ff;
				text-transform: uppercase;
				font-size: 20px;
	}

		.modal-container-diputados-provincias .text-content{
position: absolute;
margin-left: -2%;
margin-top: -72%;
			width: 83%;
			text-align: justify;
			font-size: 15px;
		  padding-right: 15px;
		}	
		
		.paulund_modal_box{
			position: absolute;
			left: 24%;
			top: 7%;
			height: 70%;
			width: 50%;
			z-index: 50;
		}
			.paulund_modal_box .paulund_modal_close{
				position: relative;
				top: 15%;
				left: -2%;
				float: right;
				display: block;
				height: 50px;
				width: 50px;
				background: url("../../images/close.png") no-repeat;
			}
@media (max-height: 442px) {
	
	.texto-style{
		text-align: right;
		color: #6B6B6B;
		font-size: 12px;
		letter-spacing: 0.5px;
	}
	
	.texto-style-2{
		padding: 2px;
		color: #FFF;
		background-color: #6f6d6d;
		font-size: 15px;
	}
	
	.texto-style-3{
		text-align: left;
		color: #8B8B8B;
		font-size: 11px;
	}
	
	.texto-style-5{
		text-align: left;
		color: #65a9df;
		font-size: 15px;
	}

	
	.texto-style-6{
		-webkit-transform: rotate(270deg);   
		-moz-transform: rotate(270deg);
		-ms-transform: rotate(270deg);
		-o-transform: rotate(270deg);
		transform: rotate(270deg);
		
		color: #59b9ff;
		text-transform: uppercase;
	
		font-size: 20px;
	}
		
	.texto-style-7{
		font-size: 19px;
	}
	
	.texto-style-8{
		color: #59b9ff;
		font-size: 19px;
	}
	
	.texto-style-9{
		font-size: 19px;
	}
	

	
	.texto-style-10{
		color: #59b9ff;
		font-size: 15px;
		text-transform: uppercase;
	}
	
	.texto-style-11{
		text-align: justify;
		color: #6B6B6B;
		font-size: 12px;
		letter-spacing: 0.5px;
	}
	
	.autoridad-item{
		padding:10px;
	}
	
	.texto-style-3-bg{
		text-align: left;
		color: #FFF;
		font-size: 10px;
		background-color: #59b9ff;
	}
	
	.container{
		background-repeat: no-repeat;
		background-position: right top;
		background-size: 100% 100%;	
	}

		.container .main{
			position: relative;
		}
			
		.container .main .titulo{
			position: absolute;
			margin-left: 72%; 
			margin-top: 2%; 
		}
			
			.container .main .titulo .img-titulo{
				width: 100%;
			}

		.container .main .back{
			position: absolute;
			margin-left: 1%;
			margin-top: 3%; 
		}
			.container .main .back .img-back{
				width: 75%;
			}
			
			.container .main .back:hover{
				-webkit-transform: translateY(-5px);
				transform: translateY(-5px);
				opacity: 0.7;
			}
			
		.container .main .diputados{
			position: absolute;
			margin-left: 72%; 
			margin-top: 11%; 
		
			cursor: pointer;
			width: 7%;
}
			
			.container .main .diputados .img-diputados{
				width: 100%;
			}
		
		.container .main .texto-1{
			position: absolute;
			margin-left: 9%; 
			margin-top: 3%; 
		
}
		
		.container .main .texto-2{
			position: absolute;
			margin-left: 21%; 
			margin-top: 15.5%; 
}
		
		.container .main .texto-3{
			position: absolute;
			margin-left: 64%; 
			margin-top: 19%; 
		
			width: 35%;
		}
			.container .main .texto-3 .img-columna-3{
				float:left;
				width: 35%;			
			
				padding: 5px;
				cursor: pointer;
}
		.container .main .texto-5{
			position: absolute;
			margin-left: 37%; 
			margin-top: 19%; 
		
			width: 25%;
		}
			.container .main .texto-5 .img-columna-5{
				float:left;
				width: 49%;			
			
				padding: 5px;
				cursor: pointer;
}
		
		.container .main .texto-7{
			position: absolute;
			margin-left: 0%; 
			margin-top: 19%; 
		
			width: 35%;
		}
		
			.container .main .texto-7 .img-columna-7{
				float:left;
				width: 32%;
			
				padding: 5px;
}
		.container .main .texto-8{
			position: absolute;
			margin-left: 0%; 
			margin-top: 26%; 
		
			width: 35%;
}
		.container .main .texto-9{
			position: absolute;
			margin-left: 70%; 
			margin-top: 56%; 
		}

			.container .main .volver{
				position: absolute;
				margin-left: 1%; 
				margin-top: 57%; 
			}
		
				.container .main .volver .img-volver{
					width: 275%;
				}
/*** Modals ***/
	/*** #1 ***/
	.modal-container-autoridades .texto-style-6{
				position: absolute;
				margin-left: -60%;
				margin-top: -230%;
				width: 210%;
				-webkit-transform: rotate(270deg);   
				-moz-transform: rotate(270deg);
				-ms-transform: rotate(270deg);
				-o-transform: rotate(270deg);
				transform: rotate(270deg);
				color: #59b9ff;
				text-transform: uppercase;
				font-size: 20px;
	}

		.modal-container-autoridades .text-content{
			position: absolute;
			margin-left: -4%;
			margin-top: -65%;
			width: 90%;
			max-height: 280px;
			text-align: justify;
			font-size: 15px;
		
			overflow-y: scroll;  padding-right: 15px;
		}	
	
	.modal-container-bloques .texto-style-6{
				position: absolute;
				margin-left: -60%;
				margin-top: -305%;
				width: 210%;
				-webkit-transform: rotate(270deg);   
				-moz-transform: rotate(270deg);
				-ms-transform: rotate(270deg);
				-o-transform: rotate(270deg);
				transform: rotate(270deg);
				color: #59b9ff;
				text-transform: uppercase;
				font-size: 20px;
	}

		.modal-container-bloques .text-content{
			position: absolute;
			margin-left: -4%;
			margin-top: -65%;
			width: 90%;
			max-height: 280px;
			text-align: justify;
			font-size: 15px;
		
			overflow-y: scroll;  padding-right: 15px;
		}	

	.modal-container-diputados-provincias .texto-style-6{
				position: absolute;
				margin-left: -90%;
				margin-top: -225%;
				width: 300%;
				-webkit-transform: rotate(270deg);   
				-moz-transform: rotate(270deg);
				-ms-transform: rotate(270deg);
				-o-transform: rotate(270deg);
				transform: rotate(270deg);
				color: #59b9ff;
				text-transform: uppercase;
				font-size: 20px;
	}

		.modal-container-diputados-provincias .text-content{
			position: absolute;
			margin-left: 0%;
			margin-top: -66%;
			width: 83%;
			text-align: justify;
			font-size: 15px;
		  padding-right: 15px;
		}	
		
					.container .main .link-galeria-texto{
				font-size: 20px;
				color: #6DB5DB;
				position: absolute;
				margin-left: 79%;
				margin-top: 12%;
				width: 20%;	
				line-height: 15px;
			}
			
			.container .main .link-fotogaleria a{ 
				font-size: 13px;
				color: #65B1D9;
			}
		
		.paulund_modal_box{
			position: absolute;
			left: 17%;
			top: -8%;
			height: 95%;
			width: 67%;
			z-index: 50;
		}
			.paulund_modal_box .paulund_modal_close{
				position: relative;
				top: 16%;
				left: -2%;
				float: right;
				display: block;
				height: 50px;
				width: 50px;
				background: url("../../images/close.png") no-repeat;
			}
}
