.container .main{
	position: relative;
	margin-left: 5%; 
	margin-top: 2%; 
}	

.container .main .titulo{
	position: absolute;
	margin-left: 24%; 
	margin-top: -3%;
	width: 20%;	
}
	
	.container .main .titulo .img-titulo{
		width: 100%;
	}
.container .main .poder-ejecutivo{
	position: absolute;
	margin-left: 78%; 
	margin-top: -3%;
	width: 20%;	
}
	
	.container .main .poder-ejecutivo .img-poder-ejecutivo{
		width: 100%;
	}
	
.container .main .poder-judicial{
	position: absolute;
	margin-left: 50%; 
	margin-top: 12%;
	width: 20%;	
}
	
	.container .main .poder-judicial .img-poder-judicial{
		width: 100%;
	}
	
.container .main .poder-legislativo{
	position: absolute;
	margin-left: 56%; 
	margin-top: -3%;
	width: 20%;	
}
	
	.container .main .poder-legislativo .img-poder-legislativo{
		width: 100%;
	}
	
	
	
	
.container .main .icono-1{
	position: absolute;
	margin-left: 9%; 
	margin-top: 8%;
	width: 20%;	
}
	
	.container .main .icono-1 .img-icono-1{
		width: 100%;
	}
	
.container .main .icono-2{
	position: absolute;
	margin-left: 50%; 
	margin-top: 32%;
	width: 20%;	
}
	
	.container .main .icono-2 .img-icono-2{
		width: 100%;
	}
	
.container .main .icono-3{
	position: absolute;
	margin-left: -3%; 
	margin-top: 36%;
	width: 5%;	
}
	
	.container .main .icono-3 .img-icono-3{
		width: 100%;
	}
	
.container .main .icono-4{
	position: absolute;
	margin-left: 9%; 
	margin-top: 33.5%;
	width: 5%;	
}
	
	.container .main .icono-4 .img-icono-4{
		width: 100%;
	}
	
.container .main .icono-5{
	position: absolute;
	margin-left: 22%; 
	margin-top: 34%;
	width: 3%;	
}
	
	.container .main .icono-5 .img-icono-5{
		width: 100%;
	}
	
.container .main .flecha-1{
	position: absolute;
	margin-left: 0%; 
	margin-top: 1%;
	width: 100%;	
}
	
	.container .main .flecha-1 .img-flecha-1{
		width: 100%;
	}

.container .main .flecha-2{
	position: absolute;
	margin-left: 4%; 
	margin-top: 37%;
	width: 3%;	
}
	
	.container .main .flecha-2 .img-flecha-2{
		width: 100%;
	}

	
.container .main .back{
	position: absolute;
	margin-left: -4%;
	margin-top: -1%; 
}
	.container .main .back .img-back{
		width: 75%;
	}
	
	.container .main .back:hover{
		-webkit-transform: translateY(-5px);
		transform: translateY(-5px);
		opacity: 0.7;
	}

.container .main .video{
	position: absolute;
	margin-left: 2%;
	margin-top: 8%;
}	


.container .visita{
	position: absolute;
	margin-left: 72%;
	margin-top: 18%;
}

.container .visita img{
	width: 70%;
}
